
@media screen and (max-width: 900px) {

  .canvas-text {
    margin-top: 122%;
    height: 5%;
  }

}

@media screen and (max-width: 670px) {

  .canvas-text {
    margin-top: 120%;
    height: 3%;
  }

}

@media screen and (max-width: 540px) {

  .canvas-text {
    margin-top: 121%;
  }

}